:root {
    --dark: #19191b;
    --gray:#696871;
    --blue: #5454d4;
    --brown:#BC987E; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans" , sans-serif;
}

.header {
    padding-block: 30px;
}

.header__container {
    max-width: 1069px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 200px;
    height: auto;
    flex-shrink: 0px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__list {
    display: flex;
    gap: 49px;
}

ul {
   list-style: none; 
}

.header__list-link {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0,47px;
    color: var(--gray);
    transition: color 0.5s;
} 

.header__list-link.active {
    color: var(--dark);
    border-bottom: 2px solid var(--blue);
    padding-bottom: 10px;
}

.header__list-link:hover {
    color: var(--dark);
}

a {
    text-decoration: none;
}

.header__button {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0,53px;
    color:whitesmoke;
    padding: 14px 32px;
    border-radius: 18px;
    background-color:var(--brown) ;
    display: inline-block;
    flex-shrink: 0;
    white-space: nowrap;
    transition: opacity 0.3s;
}